apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: app-secrets
spec:
  #This will change to 1password soon, it is only gcp because the plugin is forked from the gcp one
  provider: gcp
  parameters:
    secrets: |
      - resourceName: "vaults/i7qrtqvqyko35dcv6dgr4savaa/secrets/oi5yyo2xzgn6mh65gl3keu7a7u"
        path: "good1.txt"
      - resourceName: "vaults/i7qrtqvqyko35dcv6dgr4savaa/secrets/oi5yyo2xzgn6mh65gl3keu7a7u/password"
        path: "good2.txt"
